.full {
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.reverse {
  flex-direction: column-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.reverse {
  flex-direction: row-reverse;
}

.regular-interval {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.icon {
  height: 100%;
  vertical-align: top;
}

.icon + span {
  margin-left: 5px;
  line-height: 100%;
}

.warning {
  background-color: var(--text-bg-color-warning);
}

.scroll {
  overflow: auto;
}
