body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#app {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.full {
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column.reverse {
  flex-direction: column-reverse;
}

.row.reverse {
  flex-direction: row-reverse;
}

.column.wrap {
  flex-wrap: wrap;
}

.row.wrap {
  flex-wrap: wrap;
}

.column > .auto {
  flex: auto;
}

.row > .auto {
  flex: auto;
}

.column > .grow {
  flex: 1;
}

.row > .grow {
  flex: 1;
}

.regular-interval {
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

.icon {
  height: 100%;
  vertical-align: top;
}

.icon + span {
  margin-left: 5px;
  line-height: 100%;
}

.warning {
  background-color: var(--text-bg-color-warning);
}

.scroll {
  overflow: auto;
}
