:root {
  --main-color: white;
  --main-bg-color: #5f8f5f;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --tab-color: white;
  --tab-bg-color: #4b704b;
  --tab-highlight-color: white;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: white;
  --text-bg-color-disabled: lightgray;
  --text-bg-color-selected: #a6eaff;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --input-border-color: gray;
  --chart-bg-color: white;
  --promote-bg-color: white;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #4b704b;
  --control-button-border-color: #000000;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: #527a52;
  --close-button-bg-color: #ba151d;
  --hovered-close-button-bg-color: #d81922;
  --dialog-color: black;
  --dialog-bg-color: #d0d6d0;
  --dialog-border-color: dimgray;
  --info-dialog-color: white;
  --info-dialog-bg-color: #5f8f5f;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --busy-dialog-color: white;
  --busy-dialog-bg-color: dimgray;
  --busy-dialog-border-color: white;
  --control-shadow-color: #2c2c2c;
  --selector-color: black;
  --selector-bg-color: #e0ebe0;
  --pushed-selector-color: white;
  --pushed-selector-bg-color: #4b704b;
  --toggle-knob-color: white;
  --toggle-active-color: #5bd75b;
  --toggle-inactive-color: darkgray;
}

.cherry-blossom {
  --main-color: black;
  --main-bg-color: #efc4c4;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --tab-color: white;
  --tab-bg-color: #d06868;
  --tab-highlight-color: white;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: #fdeeed;
  --text-bg-color-disabled: #f8c3bf;
  --text-bg-color-selected: #a6eaff;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --input-border-color: gray;
  --chart-bg-color: #fdeeed;
  --promote-bg-color: #e8a9a9;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #d06868;
  --control-button-border-color: #000000;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: #e18f8f;
  --close-button-bg-color: #c91720;
  --hovered-close-button-bg-color: #e51d27;
  --dialog-color: black;
  --dialog-bg-color: #efc4c4;
  --dialog-border-color: #cd6666;
  --info-dialog-color: white;
  --info-dialog-bg-color: #c84e4e;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --busy-dialog-color: white;
  --busy-dialog-bg-color: dimgray;
  --busy-dialog-border-color: white;
  --control-shadow-color: #2c2c2c;
  --selector-color: black;
  --selector-bg-color: #f4dddd;
  --pushed-selector-color: white;
  --pushed-selector-bg-color: #d06868;
  --toggle-knob-color: white;
  --toggle-active-color: #5bd75b;
  --toggle-inactive-color: darkgray;
}

.autumn {
  --main-color: black;
  --main-bg-color: #dbb579;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --tab-color: white;
  --tab-bg-color: #720f13;
  --tab-highlight-color: white;
  --tab-content-bg-color: #d8ad6b;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: #ead2ae;
  --text-bg-color-disabled: #d4a65e;
  --text-bg-color-selected: #bc8e7e;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --input-border-color: gray;
  --chart-bg-color: #f1e1c9;
  --promote-bg-color: #ead2ae;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #566132;
  --control-button-border-color: #000000;
  --disabled-control-button-bg-color: #8c8c8c;
  --hovered-control-button-bg-color: #748244;
  --close-button-bg-color: #c91720;
  --hovered-close-button-bg-color: #e51d27;
  --dialog-color: black;
  --dialog-bg-color: #dbb579;
  --dialog-border-color: #bc6c25;
  --info-dialog-color: white;
  --info-dialog-bg-color: #bc6c25;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --busy-dialog-color: white;
  --busy-dialog-bg-color: dimgray;
  --busy-dialog-border-color: white;
  --control-shadow-color: #2c2c2c;
  --selector-color: black;
  --selector-bg-color: #e9d3af;
  --pushed-selector-color: white;
  --pushed-selector-bg-color: #566132;
  --toggle-knob-color: white;
  --toggle-active-color: #e1e469;
  --toggle-inactive-color: darkgray;
}

.snow {
  --main-color: black;
  --main-bg-color: #e9e8ef;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --tab-color: white;
  --tab-bg-color: #567ac5;
  --tab-highlight-color: white;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: #fcfcfd;
  --text-bg-color-disabled: #dddde9;
  --text-bg-color-selected: #a6eaff;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --input-border-color: gray;
  --chart-bg-color: #e9e8ef;
  --promote-bg-color: #e9e8ef;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #567ac5;
  --control-button-border-color: #000000;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: #99afe4;
  --close-button-bg-color: #c91720;
  --hovered-close-button-bg-color: #e51d27;
  --dialog-color: black;
  --dialog-bg-color: #e9e8ef;
  --dialog-border-color: #a6abd0;
  --info-dialog-color: white;
  --info-dialog-bg-color: #2859a6;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --busy-dialog-color: white;
  --busy-dialog-bg-color: dimgray;
  --busy-dialog-border-color: white;
  --control-shadow-color: #2c2c2c;
  --selector-color: black;
  --selector-bg-color: #c8d4ec;
  --pushed-selector-color: white;
  --pushed-selector-bg-color: #6384c9;
  --toggle-knob-color: white;
  --toggle-active-color: #4a70c0;
  --toggle-inactive-color: darkgray;
}

.dark-green {
  --main-color: white;
  --main-bg-color: #293737;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --tab-color: white;
  --tab-bg-color: #374b4b;
  --tab-highlight-color: white;
  --tab-content-bg-color: #293737;
  --text-color-danger: white;
  --text-color: white;
  --text-bg-color: #222d2d;
  --text-bg-color-disabled: gray;
  --text-bg-color-selected: #4444b3;
  --text-bg-color-warning: #b08000;
  --text-bg-color-danger: red;
  --text-separator-color: gainsboro;
  --text-dashed-separator-color: lightgray;
  --input-border-color: gray;
  --chart-bg-color: #222d2d;
  --promote-bg-color: #547272;
  --not-promote-bg-color: #293737;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #131a1a;
  --turn-label-border-color: lightyellow;
  --control-button-color: white;
  --control-button-bg-color: #3f5454;
  --control-button-border-color: #374b4b;
  --disabled-control-button-bg-color: #656565;
  --hovered-control-button-bg-color: #638585;
  --close-button-bg-color: #aa141b;
  --hovered-close-button-bg-color: #c91720;
  --dialog-color: white;
  --dialog-bg-color: #222d2d;
  --dialog-border-color: dimgray;
  --info-dialog-color: white;
  --info-dialog-bg-color: #222d2d;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --busy-dialog-color: white;
  --busy-dialog-bg-color: dimgray;
  --busy-dialog-border-color: white;
  --control-shadow-color: black;
  --selector-color: white;
  --selector-bg-color: #3c3c3c;
  --pushed-selector-color: white;
  --pushed-selector-bg-color: #547272;
  --toggle-knob-color: #ddd;
  --toggle-active-color: #259625;
  --toggle-inactive-color: #5c5c5c;
}

.dark {
  --main-color: white;
  --main-bg-color: black;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --tab-color: white;
  --tab-bg-color: #3c3c3c;
  --tab-highlight-color: white;
  --tab-content-bg-color: black;
  --text-color-danger: white;
  --text-color: white;
  --text-bg-color: #202020;
  --text-bg-color-disabled: gray;
  --text-bg-color-selected: #4444b3;
  --text-bg-color-warning: #b08000;
  --text-bg-color-danger: red;
  --text-separator-color: gainsboro;
  --text-dashed-separator-color: lightgray;
  --input-border-color: gray;
  --chart-bg-color: #202020;
  --promote-bg-color: dimgray;
  --not-promote-bg-color: black;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: black;
  --turn-label-border-color: lightyellow;
  --control-button-color: white;
  --control-button-bg-color: #4d6868;
  --control-button-border-color: #3f5454;
  --disabled-control-button-bg-color: #5c5c5c;
  --hovered-control-button-bg-color: #6c8d8d;
  --close-button-bg-color: #aa141b;
  --hovered-close-button-bg-color: #c91720;
  --dialog-color: white;
  --dialog-bg-color: black;
  --dialog-border-color: dimgray;
  --info-dialog-color: white;
  --info-dialog-bg-color: black;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --busy-dialog-color: white;
  --busy-dialog-bg-color: dimgray;
  --busy-dialog-border-color: white;
  --control-shadow-color: black;
  --selector-color: white;
  --selector-bg-color: #3c3c3c;
  --pushed-selector-color: white;
  --pushed-selector-bg-color: #547272;
  --toggle-knob-color: #ddd;
  --toggle-active-color: #259625;
  --toggle-inactive-color: #5c5c5c;
}
