button {
  color: var(--control-button-color);
  background: linear-gradient(to top, var(--control-button-bg-color) 80%, white 140%);
  border-color: var(--control-button-border-color);
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}

button:active {
  border-width: 1px 0px 0px 1px;
}

button:disabled {
  background: linear-gradient(to top, var(--disabled-control-button-bg-color) 80%, white 140%);
}

button:hover:enabled {
  background: linear-gradient(to top, var(--hovered-control-button-bg-color) 80%, white 140%);
}

button.close:enabled {
  background: linear-gradient(to top, var(--close-button-bg-color) 80%, white 140%);
}

button.close:hover:enabled {
  background: linear-gradient(to top, var(--hovered-close-button-bg-color) 80%, white 140%);
}

button.thin {
  margin: 0px 5px 0px 5px;
  padding: 2px 25px 2px 25px;
}

button.wide {
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}

input {
  color: var(--text-color);
  background-color: var(--text-bg-color);
  border-color: var(--input-border-color);
  border-style: solid;
  border-width: 1px;
  font-size: 0.9em;
}

select {
  color: var(--text-color);
  background-color: var(--text-bg-color);
  font-size: 0.9em;
}

textarea {
  color: var(--text-color);
  background-color: var(--text-bg-color);
  font-size: 0.9em;
}
