dialog {
  display: flex;
  flex-direction: column;
  color: var(--dialog-color);
  background-color: var(--dialog-bg-color);
  border: 1px solid var(--dialog-border-color);
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  font-size: 1rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog button {
  margin: 0px 5px 0px 5px;
  padding: 5px 15px 5px 15px;
}

dialog hr {
  width: 100%;
  border: none;
  border-top: 1px dashed var(--dialog-border-color);
}

dialog select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

dialog .title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

dialog .form-group {
  border: 1px dashed var(--dialog-border-color);
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

dialog .row > .form-group {
  margin-top: 0px;
}

dialog .row > .form-group + * {
  margin-left: 10px;
}

dialog .form-item {
  text-align: left;
  margin: 10px 0px 10px 0px;
}

dialog .form-item > * {
  vertical-align: top;
}

dialog .form-item.center {
  text-align: center;
}

dialog .form-item.center > *:nth-child(n+2) {
  display: inline-block;
  margin-left: 5px;
}

dialog .form-item-label {
  display: inline-block;
  font-size: 0.95em;
  text-align: left;
  margin-right: 5px;
  width: 90px;
}

dialog .form-item-label-wide {
  display: inline-block;
  font-size: 0.95em;
  text-align: left;
  margin-right: 5px;
  width: 160px;
}

dialog .center .form-item-label {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  width: auto;
}

dialog .form-item-unit {
  display: inline-block;
  text-align: left;
  font-size: 0.8em;
  margin: 0px 5px 0px 5px;
  padding-top: 0.2em;
}

dialog .note {
  text-align: left;
  font-size: 0.8em;
}

dialog .note:nth-child(n+2) {
  margin-top: 5px;
}

dialog .main-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

dialog .main-buttons button {
  padding: 5px 25px 5px 25px;
}

dialog .icon {
  width: 36px;
}

dialog button .icon {
  width: 1.4em;
}

dialog button .icon + span {
  margin-left: 5px;
  line-height: 1.4em;
}

dialog .message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

dialog .message-box .icon {
  margin-right: 15px;
}

dialog.menu {
  border-style: none;
  background-color: transparent;
}

dialog.menu .groups {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

dialog.menu .group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

dialog.menu button {
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog.menu button:enabled {
  box-shadow: 2px 2px 5px 3px lightgray;
}

dialog.menu button:disabled {
  box-shadow: 2px 2px 5px 3px gray;
}

dialog.menu .icon {
  height: 36px;
  width: 36px;
  display: block;
}

dialog.menu .label {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
