body {
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  color: white;
  background-color: darkslategray;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

a {
  color: lemonchiffon;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  margin: 0.5em;
}

ul.faq {
  margin-left: auto;
  margin-right: auto;
  width: min(90vw, 110vh);
  text-align: left;
}

ul.faq li {
  margin-left: 0;
}

ul.faq li li {
  margin-left: 1.8em;
}

.long-text {
  margin-left: auto;
  margin-right: auto;
  width: min(90vw, 110vh);
  text-align: left;
}

.note {
  font-size: 0.8em;
}

.images {
  margin-left: auto;
  margin-right: auto;
  width: min(90vw, 110vh);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: max(min(40vw, 50vh), min(80vw, 50vh));
  margin: min(1.0vw, 1.0vh);
}

img.wide {
  width: max(min(80vw, 80vh), min(80vw, 80vh));
}

img.border {
  border: solid 1px darkslategray;
}

img.shadow {
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);;
}

img.large-icon {
  width: auto;
  height: 1.4em;
  vertical-align: -0.3em;
  margin: 0px;
}

img.icon {
  width: auto;
  height: 1.2em;
  vertical-align: -0.2em;
  margin: 0px;
}

img.small-icon {
  width: auto;
  height: 1.0em;
  vertical-align: -0.2em;
  margin: 0px;
}

header {
  font-size: 1.0em;
  padding: 1.0em 5% 1.0em 5%;
}

nav {
  font-size: 1.1em;
  margin: 1em 0px 0px 0px;
  line-height: 2.0em;
}

nav ul {
  padding: 0px;
  list-style: none;
}

nav li {
  margin: 0px 0.5em 0px 0.5em;
  display: inline-block;
}

article {
  color: darkslategray;
  background-color: white;
  margin: 0px;
  padding: 1.0em 5% 1.0em 5%;
}

article a {
  color: seagreen;
  font-weight: bold;
}

section {
  margin: 1.5em 0 3.0em 0;
}

section div {
  margin: 0.5em 0px 0.5em 0px;
}

hr {
  margin: auto;
  padding: 0px;
  border: none;
  border-top: solid;
  border-color: darkslategray;
  width: min(90vw, 120vh);
}

h1 {
  font-size: 3.5em;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-size: 1.8em;
  margin: 2.0em 0 0.4em 0;
}

h3 {
  font-size: 1.3em;
  margin: 1.8em 0 0.3em 0;
}

h4 {
  font-size: 1.1em;
  margin: 1.5em 0 0.2em 0;
}

header .link-buttons {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -5px;
}

header .link-buttons > * {
  margin: 5px 0.5em 0px 0.5em;
}
