html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana",
    sans-serif;
  background-color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

header {
  font-size: 1em;
  margin: 0px;
  padding: 10px 5% 5px 5%;
  color: white;
  background-color: darkslategray;
}

header .link-buttons {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -5px;
}

header .link-buttons > * {
  margin: 5px 0.5em 0px 0.5em;
}

nav {
  font-size: 1.2em;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  color: white;
  background-color: darkslategray;
}

nav.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav li {
  margin: 0px 0.5em 0px 0.5em;
  white-space: nowrap;
}

article {
  color: darkslategray;
  margin: 0px;
  padding: 1em 5% 1em 5%;
}

article a {
  color: seagreen;
  font-weight: bold;
}

section {
  margin: 1em 0 7em 0;
  scroll-margin-top: 120px;
}

section div {
  margin: 0.5em 0px 0.5em 0px;
}

section p {
  margin: 0.5em 0 2em 0;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 3.5em;
  margin: 0.8em 0 0.4em 0;
}

.title > * {
  margin: 0px 0.2em 0px 0.2em;
}

.title span {
  display: inline-block;
}

h2 {
  font-size: 2.2em;
  margin: 2em 0 0em 0;
}

h3 {
  font-size: 1.2em;
  margin: 1em 0 1em 0;
}

a {
  color: lemonchiffon;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-box > a {
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  color: lemonchiffon;
  background-color: darkslategray;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 1.2em;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  margin: 0.5em;
}

ul.faq {
  margin-left: auto;
  margin-right: auto;
  width: min(90vw, 110vh);
  text-align: left;
}

ul.faq li {
  margin-left: 0;
}

ul.faq li li {
  margin-left: 1.8em;
}

.long-text {
  margin-left: auto;
  margin-right: auto;
  width: min(90vw, 110vh);
  text-align: left;
}

.images {
  margin: 2em auto 2em auto;
  width: min(90vw, 110vh);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: max(min(40vw, 50vh), min(80vw, 50vh));
  margin: min(1vw, 1vh);
}

img.wide {
  width: max(min(80vw, 80vh), min(80vw, 80vh));
}

img.border {
  border: solid 1px darkslategray;
}

img.shadow {
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

img.large-icon {
  width: auto;
  height: 1.4em;
  vertical-align: -0.3em;
  margin: 0px;
}

img.icon {
  width: auto;
  height: 1.2em;
  vertical-align: -0.2em;
  margin: 0px;
}

img.small-icon {
  width: auto;
  height: 1em;
  vertical-align: -0.2em;
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row > * {
  margin-left: 1em;
  margin-right: 1em;
}
