:root {
  --main-color: black;
  --main-bg-color: #669966;
  --active-tab-color: white;
  --active-tab-bg-color: darkgreen;
  --inactive-tab-color: lightgray;
  --inactive-tab-bg-color: dimgray;
  --inactive-tab-border-color: lightgray;
  --text-color-danger: white;
  --text-bg-color: white;
  --text-bg-color-warning: gold;
  --text-bg-color-danger: red;
  --promote-bg-color: white;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: blue;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: darkgreen;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: green;
  --dialog-title-color: white;
  --dialog-bg-color: #558855;
  --dialog-border-color: #336633;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
  --messagebox-color: white;
  --messagebox-bg-color: steelblue;
  --messagebox-border-color: white;
  --messagebox-button-color: white;
  --messagebox-button-bg-color: deepskyblue;
  --hovered-messagebox-button-bg-color: lightskyblue;
}
