:root {
  --main-color: white;
  --main-bg-color: #5f8f5f;
  --tab-color: white;
  --tab-bg-color: #4b704b;
  --tab-highlight-color: white;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: white;
  --text-bg-color-selected: #a6eaff;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --input-border-color: gray;
  --chart-bg-color: white;
  --promote-bg-color: white;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #4b704b;
  --control-button-border-color: #000000;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: #527a52;
  --close-button-bg-color: #ba151d;
  --hovered-close-button-bg-color: #d81922;
  --dialog-color: black;
  --dialog-bg-color: #d0d6d0;
  --dialog-border-color: dimgray;
  --info-dialog-color: white;
  --info-dialog-bg-color: #5f8f5f;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
}

.cherry-blossom {
  --main-color: black;
  --main-bg-color: #efc4c4;
  --tab-color: white;
  --tab-bg-color: #d06868;
  --tab-highlight-color: white;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: #fdeeed;
  --text-bg-color-selected: #a6eaff;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --input-border-color: gray;
  --chart-bg-color: #fdeeed;
  --promote-bg-color: #e8a9a9;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #d06868;
  --control-button-border-color: #000000;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: #e18f8f;
  --close-button-bg-color: #c91720;
  --hovered-close-button-bg-color: #e51d27;
  --dialog-color: black;
  --dialog-bg-color: #efc4c4;
  --dialog-border-color: #cd6666;
  --info-dialog-color: white;
  --info-dialog-bg-color: #c84e4e;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
}

.dark {
  --main-color: white;
  --main-bg-color: black;
  --tab-color: white;
  --tab-bg-color: #3c3c3c;
  --tab-highlight-color: white;
  --tab-content-bg-color: black;
  --text-color-danger: white;
  --text-color: white;
  --text-bg-color: #202020;
  --text-bg-color-selected: #4444b3;
  --text-bg-color-warning: #b08000;
  --text-bg-color-danger: red;
  --text-separator-color: gainsboro;
  --text-dashed-separator-color: lightgray;
  --input-border-color: gray;
  --chart-bg-color: black;
  --promote-bg-color: dimgray;
  --not-promote-bg-color: black;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: black;
  --turn-label-border-color: lightyellow;
  --control-button-color: white;
  --control-button-bg-color: #4d6868;
  --control-button-border-color: #3f5454;
  --disabled-control-button-bg-color: #5c5c5c;
  --hovered-control-button-bg-color: #6c8d8d;
  --close-button-bg-color: #aa141b;
  --hovered-close-button-bg-color: #c91720;
  --dialog-color: white;
  --dialog-bg-color: black;
  --dialog-border-color: dimgray;
  --info-dialog-color: white;
  --info-dialog-bg-color: black;
  --info-dialog-border-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
}
