:root {
  --main-color: white;
  --main-bg-color: #669966;
  --active-tab-color: white;
  --active-tab-bg-color: darkgreen;
  --inactive-tab-color: lightgray;
  --inactive-tab-bg-color: dimgray;
  --inactive-tab-border-color: lightgray;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: white;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --chart-bg-color: white;
  --promote-bg-color: white;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: darkgreen;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: green;
  --dialog-title-color: white;
  --dialog-bg-color: #558855;
  --dialog-border-color: #336633;
  --dialog-form-color: black;
  --dialog-form-bg-color: white;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
}

.cherry-blossom {
  --main-color: black;
  --main-bg-color: #efc4c4;
  --active-tab-color: white;
  --active-tab-bg-color: #d06868;
  --inactive-tab-color: lightgray;
  --inactive-tab-bg-color: dimgray;
  --inactive-tab-border-color: lightgray;
  --tab-content-bg-color: lightgray;
  --text-color-danger: white;
  --text-color: black;
  --text-bg-color: #fdeeed;
  --text-bg-color-warning: #ffff88;
  --text-bg-color-danger: red;
  --text-separator-color: gray;
  --text-dashed-separator-color: dimgray;
  --chart-bg-color: #fdeeed;
  --promote-bg-color: #e2a4a4;
  --not-promote-bg-color: gray;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: #2424e6;
  --turn-label-border-color: midnightblue;
  --control-button-color: white;
  --control-button-bg-color: #d06868;
  --disabled-control-button-bg-color: dimgray;
  --hovered-control-button-bg-color: #e48282;
  --dialog-title-color: black;
  --dialog-bg-color: #e2a4a4;
  --dialog-border-color: #cd6666;
  --dialog-form-color: black;
  --dialog-form-bg-color: #fdeeed;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
}

.dark {
  --main-color: white;
  --main-bg-color: black;
  --active-tab-color: white;
  --active-tab-bg-color: #606060;
  --inactive-tab-color: lightgray;
  --inactive-tab-bg-color: black;
  --inactive-tab-border-color: lightgray;
  --tab-content-bg-color: black;
  --text-color-danger: white;
  --text-color: white;
  --text-bg-color: #202020;
  --text-bg-color-warning: #b08000;
  --text-bg-color-danger: red;
  --text-separator-color: gainsboro;
  --text-dashed-separator-color: lightgray;
  --chart-bg-color: black;
  --promote-bg-color: dimgray;
  --not-promote-bg-color: black;
  --turn-label-color: lightyellow;
  --turn-label-bg-color: black;
  --turn-label-border-color: lightyellow;
  --control-button-color: white;
  --control-button-bg-color: #4d6868;
  --disabled-control-button-bg-color: #3c3c3c;
  --hovered-control-button-bg-color: #6c8d8d;
  --dialog-title-color: white;
  --dialog-bg-color: black;
  --dialog-border-color: #3c3c3c;
  --dialog-form-color: white;
  --dialog-form-bg-color: #3c3c3c;
  --error-dialog-color: white;
  --error-dialog-bg-color: #aa0000;
  --error-dialog-border-color: white;
  --error-dialog-button-color: white;
  --error-dialog-button-bg-color: #cc7777;
  --hovered-error-dialog-button-bg-color: #aa5555;
  --bussy-dialog-color: white;
  --bussy-dialog-bg-color: dimgray;
  --bussy-dialog-border-color: white;
}
