button {
  color: var(--control-button-color);
  background-color: var(--control-button-bg-color);
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
button:disabled {
  background-color: var(--disabled-control-button-bg-color);
}
button:hover:enabled {
  background-color: var(--hovered-control-button-bg-color);
}

button .icon {
  height: 100%;
}

input {
  color: var(--text-color);
  background-color: var(--text-bg-color);
  border-color: var(--input-border-color);
  border-style: solid;
  border-width: 1px;
}

select {
  color: var(--text-color);
  background-color: var(--text-bg-color);
}

textarea {
  color: var(--text-color);
  background-color: var(--text-bg-color);
}
