button {
  color: var(--control-button-color);
  background-color: var(--control-button-bg-color);
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
button:disabled {
  background-color: var(--disabled-control-button-bg-color);
}
button:hover:enabled {
  background-color: var(--hovered-control-button-bg-color);
}

button .icon {
  height: 100%;
}