dialog {
  display: flex;
  flex-direction: column;
  color: var(--dialog-color);
  background-color: var(--dialog-bg-color);
  border: 1px solid var(--dialog-border-color);
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  font-size: 1rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.dialog-scroll-area {
  border: 1px dashed var(--dialog-border-color);
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.dialog-form-areas-h {
  display: flex;
  flex-direction: row;
}
.dialog-form-areas-h > :nth-of-type(n+2) {
  margin-left: 10px;
}

.dialog-form-area {
  border: 1px dashed var(--dialog-border-color);
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.dialog-form-item {
  display: flex;
  flex-direction: row;
}
.dialog-form-item:nth-of-type(n+2) {
  margin-top: 5px;
}

.dialog-form-item label {
  font-size: 0.8em;
}

.dialog-form-item-label {
  text-align: left;
  margin-right: 5px;
  width: 70px;
}

.dialog-form-item-label-wide {
  text-align: left;
  margin-right: 5px;
  width: 150px;
}

.dialog-form-item-unit {
  text-align: left;
  font-size: 0.8em;
  margin: 0px 5px 0px 5px;
  padding-top: 0.2em;
  align-items: center;
}

.dialog-form-note {
  text-align: left;
  font-size: 0.8em;
  margin-top: 5px;
}

.dialog-form-warning {
  background-color: var(--text-bg-color-warning);
}

.dialog-main-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.dialog-button {
  margin: 0px 5px 0px 5px;
  padding: 5px 25px 5px 25px;
}

.dialog-wide-button {
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}

dialog .message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

dialog .icon {
  width: 36px;
  margin-right: 15px;
}

dialog button {
  font-size: 0.8em;
  margin: 0px 5px 0px 5px;
  padding: 5px 15px 5px 15px;
}

dialog button .icon {
  width: 1.4em;
  margin-right: 5px;
  vertical-align: top;
}

dialog.menu {
  border-style: none;
  background-color: transparent;
}

dialog.menu .groups {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

dialog.menu .group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

dialog.menu button {
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog.menu button:enabled {
  box-shadow: 2px 2px 5px 3px lightgray;
}

dialog.menu button:disabled {
  box-shadow: 2px 2px 5px 3px gray;
}

dialog.menu .icon {
  height: 36px;
  width: 36px;
  display: block;
}

dialog.menu .label {
  display: block;
  font-size: 14px;
  margin-top: 0.5em;
}

dialog hr {
  width: 100%;
  border: none;
  border-top: 1px dashed var(--dialog-border-color);
}

dialog select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}
