name: Test

on:
  push:
    branches: [ main, develop, support-v1.0 ]
  pull_request:
    branches: [ main, develop, support-v1.0 ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: 'npm'
    - run: npm ci
    - run: npm run test:unit
    - run: npm run lint
    - run: npm run report:license
    - run: git diff --exit-code
